*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Roboto", sans-serif; */
    font-weight: 300;
    font-style: normal;
}
/* body{} */


nav{
    background-color: black;
    padding: 1rem;
    justify-content:center;
    padding: 2.5rem 0; 
    /* margin-bottom: 1.5rem; */
}

ul li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: white;
}
footer{
    background-color: #8886867e ;
    
}
a{
    text-decoration: none;
}
.call-to-action a{
    color: black; 
}
.space-button{
    padding-top: 2rem;
}

.current-page::before{
    content: "☞";
    
}
.center button{
    background-color: #8b898991;
    padding: 20px;
    border-radius: 5%;
    color: rgb(27, 27, 27);
    font-size: 25px;
    cursor: pointer;
    box-shadow: 2px 2px 3px 2px #39393a;       
}
/* responsive navbar */
#menu::before{
    content:"🍔";
}
#menu{
    font-size: 50px;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 10px;
    cursor: pointer;
    right: 10px;
}
#menu.open::before{
    content: 'X';
}

.active::before{
    content:"➡    ";   
}
.navigation{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.navigation a{
    display: none;
    text-align: center;
    text-decoration: none;
    background-color: black;
    padding: 1rem 0;
}
.active{
    color: white;
    padding: 0 1rem;
    border-bottom: 1px solid white;
}
.active::before{
    content:"➡    ";
    
}
.open a{
    display: block;
    background-color: black;
}
/* responsive navbar */


.heroe-section{
    /* background-color: black; */
    background-image: url("../images/pexels-thisisengineering-3861972.jpg");
    padding: 8rem;
    background-repeat: no-repeat;
    background-size:100%;
    
}
.hero-image{
    max-width: 100%;
    width:auto;
}
.space-bottom{
    padding-bottom: 2.5rem;
}
.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.flex-box{
    justify-content: center;
    text-align: center;
    width: 500px;
    border: 1px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.flex-box1{
    justify-content: center;
    text-align: center;
    width: 500px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.flex-style{
    /* border: 2.5px solid black; */
    border-radius: 5%;
    box-shadow: 2px 2px 3px 2px rgb(128, 127, 127);
    box-decoration-break: slice;
    margin-bottom: 2rem;
}
.footer-style{
    padding-top: 1rem;
    margin-bottom: 2rem;
}
.phone-space-bottom{
    padding-bottom: 2.5rem;
}
.center{
    display: flex;
    justify-content: center;
}
.quotes{
    display: flex;
    justify-content: right;
}
.footer-paragraph{
    display: flex;
    justify-content: center;
    flex-direction:row;
}






