@media screen and (min-width:800px){
    
    nav{
        text-align: center;
        justify-content: center;
        padding: 2rem;
    }
    nav a{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
    }
    a{
        text-decoration: none;
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    .call-to-action a{
        color: black;        
    }
    .flex-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .flex-box{
        justify-content: center;
        text-align: center;
        /* align-items: center; */
        margin-left: auto;
        margin-right: auto;
    }
    .footer-paragraph{
        display: flex;
        justify-content: center;
    }

    /* responsive navbar */
    #menu{
        display: none;
    }
    .navigation a{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        background-color: black;
        color: white;
        
    }
    .navigation{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type: none;
        background-color: black;
    }
    .active{
        color: white;
    }
    .heroe-section{
        background-color: black;
        background-image: url("../images/pexels-thisisengineering-3861972.jpg");
        padding: 18rem;
        background-repeat: no-repeat;
        background-size:100%;
        
    }
    .two-sides{
        display: grid;
        grid-template-columns: auto auto;
    }
    .flex-box{
        justify-content: center;
        text-align: center;
        width: 400px;
        /* flex: 1; */
        /* border: .05px; */
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .flex-box1{
        justify-content: center;
        text-align: center;
        width: 500px;
        /* flex: 1; */
        /* border: .05px; */
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
}