*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
nav a{
    text-decoration: none;
    color: black;
    
}
nav div{
    padding: 1rem 0rem;
    background-color: gray;
    text-align: center;
}
header{
    color: white;
    display: flex;
    background-color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 1rem 0rem;
}
.size{
    font-size: 17px;
}
.navigation a{
    display: none;
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 1rem 0;
}
.navigation{
    display: flex;
    flex-direction: column;
    list-style: none;
}
#menu{
    font-size: 50px;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 60px;
    right: 10px;
}
#menu::before{
    content:"🍔";
}
#menu.open::before{
    content: 'X';
}
.open a {
    display: block;
}
picture{
    display: flex;
    justify-content: center;
}
.hero{
    position:relative;
    align-items: center;
}
.hero span{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    text-align: center;
}
.card ul li{
    text-decoration: none;
    color: black;
    padding-left: 1rem;
}
.parent section{
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0.3rem;
}
.parent h2{
    background-color: rgb(66, 66, 66);
    color: white;
}
.active{
    color: white;
    padding: 0 1rem;
    border-bottom: 1px solid white;
}
.active::before{
    content:"➡    ";
    
}
.profile-img{
    max-width: 100px;
}
.temple-image{
    max-width: 100%;
    height: auto;
    display: block;
}
.center{
    display: flex;
    justify-content: center;
}
.map{
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0.3rem;
}