@media screen and (min-width:800px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
    }
    header{
        display: flex;
        grid-template-columns: 1fr 1fr;
        background-color: blue;
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    span{
        font-size: 30px;
    }
    nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        color: white;
    }
    nav div{
        padding: 1rem 0rem;
        background-color: black;
    }
    div .active{
        background-color: brown;
    }
    nav a{
        text-decoration: none;
        color: white;
    }
    section h2{
        text-align: center;
    }
    
    .card ul li{
        text-decoration: none;
        color: black;
        padding-left: 1rem;
    }
    .parent{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 5px;
    }

.parent section{
    box-shadow: 1px 1px 10px black;
}
    
}
